*/node_modules
/laravel/public/hot
/laravel/public/storage
/laravel/storage/*.key
/laravel/vendor
/.idea
/.vscode
/.vagrant
/laravel/Homestead.json
/laravel/Homestead.yaml
/laravel/npm-debug.log
/laravel/yarn-error.log
*.env
stuff/*
*.pyc
/laravel/app/Http/Crawler/\.idea/
